body {
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  line-height: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
}

.layout {
  width:  1160px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #eeeeee;
}

.header-layout {
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 49px;
  margin: 0 auto;
}

.main-nav-logo {
  transition: color 0.2s ease, opacity 0.2s ease;
}

.main-nav-logo[href]:hover,
.main-nav-logo[href]:focus {
  opacity: 0.8;
}

.main-nav-logo[href]:active {
  opacity: 0.3;
}

.main-nav {
  width: 812px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 450px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 14px;
}

.main-nav-item {
  flex-shrink: 0;
  margin-right: 46px;
}

.main-nav-item:nth-child(4) {
  margin-right: 0;
}

.main-nav-item a {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  transition: color 0.2s ease, opacity 0.2s ease;
  outline: none;
  border-bottom: 2px solid #fb565a;
  margin-bottom: -3px;
}

.main-nav-item a[href] {
  border: none;
  margin-bottom: 0;
}

.main-nav-item a[href]:hover,
.main-nav-item a[href]:focus {
  color: #fb565a;
}

.main-nav-item a[href]:active {
  opacity: 0.3;
  color: #000000;
}

.user-nav {
  width: 300px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  padding-top: 14px;
}

.user-nav-basket {
  position: relative;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  border: none;
  padding: 0 0 0 44px;
  margin: 0;
}

.user-nav-item + .user-nav-item {
  margin-left: 15px;
}

.user-nav-basket::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 4px;
  top: 48%;
  transform: translateY(-50%);
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav-basket:hover,
.main-nav-item:focus {
  color: #fb565a;
}

.user-nav-baske:active {
  opacity: 0.3;
  color: #000000;
}

.main {
  margin: 0;
  padding:  0;
}

.title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 75px;
  padding-bottom: 107px;
}

.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
  padding-top: 4px;
}

.slider-layout {
  width:  1160px;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
}

.slider-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 17px;
  padding-bottom: 79px;
}

.slider-item-active {
  display: flex;
}

.slider-item:nth-child(1) {
  background: url("../img/slide1.png") no-repeat bottom right 31px;
}

.slider-item:nth-child(2) {
  background: url("../img/slide2.png") no-repeat bottom right;
}

.slider-item:nth-child(3) {
  background: url("../img/slide3.png") no-repeat bottom right;
}

.slider-item-current {
  display: flex;
}

.slider-text {
  width: 380px;
}

.slider-item h2 {
  width: 515px;
  display: block;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 26px;
}

.slider-item p {
  width: 380px;
  display: block;
  color: #283136;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  line-height: 24px;
}

.slider-item a {
  line-height: 18px;
  transition: color 1s ease, background 0.2s ease;
  padding-top: 17px;
  padding-right: 57px;
  padding-bottom: 16px;
  padding-left: 54px;
}

.slider-item a:hover {
  background-color: #e74246;
}

.slider-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.slider-toggles {
  position: absolute;
  bottom: 96px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-toggle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.slider-toggle + .slider-toggle {
  margin-left: 13px;
}


.slider-toggle-active::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 2px solid #c2c2c2;
  height: 4px;
  width: 4px;
  margin-left: -4px;
  margin-top: -4px;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 100px;
  padding-bottom: 40px;
}

.advantages-item:nth-child(3n) {
  margin-right: 0;
}

.advantages-item img {
  margin-bottom: 25px;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.advantages-item p {
  width: 300px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.advantages-item a {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-top: auto;
  transition: color 1s ease, background 0.2s ease;
}


.btn-green {
 background-color: #00ca74;  
}

.btn-yellow {
 background-color: #efc84a;  
}

.btn-pink:hover,
.btn-pink:focus {
 background-color: #e74246;  
}

.btn-green:hover,
.btn-green:focus {
 background-color: #00bc6c;  
}

.btn-yellow:hover,
.btn-yellow:focus {
 background-color: #eab534;  
}

.btn-pink:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #d7373b;  
}

.btn-green:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #00aa62;  
}

.btn-yellow:active {
 color: rgba(255, 255, 255, 0.3);
 background-color: #e5a722;  
}

.about-us {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 50px;
  padding-top: 40px;
}

.about-us-text {
  width: 650px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 34px;
}

.about-us-text .about-ut-heading {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 33px;
}

.about-us-text .about-us-text {
  line-height: 24px;
  color: #283136;
  width: 620px;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.about-us-text .aobut-us-orders {
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.about-us-text ul {
  margin: 0;
  padding: 0;
  line-height: 24px;
  list-style: none;
  color: #283136;
  padding-left: 36px;
}

.about-us-text li {
  padding-bottom: 24px;
}

.about-us-text li::before {
  content: "";
  display: inline;
  width: 25px;
  height: 25px;
  position: absolute;
  border-bottom: 2px solid #fb565a;
  margin-left: -35px;
  margin-top: -14px;
}

.achievements {
  padding-left: 100px;
  text-align: center;
  width: 360px;
}

.achievements-img {
  margin-bottom: 33px;
}

.achievements-img img {
  width: 360px;
}

.achievements .achievements-text {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 53px;
}

.achievemtns-table {
  text-align: left;
}

.achievemtns-table td {
  font-weight: bold;
  font-size: 45px;
}

.achievemtns-table strong::after {
  content: "%";
  font-size: 26px;
  position: absolute;
  margin-top: -8px;
}

.achievemtns-table th {
  font-weight: normal;
  color: #283136;
  line-height: 18px;
  padding-top: 27px;
}

.partnes {
  width: 100%;
  border-bottom: 2px solid #eeeeee;
}

.partner-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 47px;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -5px;
  margin-bottom: -5px;
  align-items: center;
}

.partner-list li::after{
  content: "";
  position: absolute;
  border-right: 2px solid #eeeeee;
  width: 2px;
  height: 52px;
  margin-left: 50px;
}
.partner-list li:nth-child(4n)::after {
  content: "";
  border: none;
}
.partner-list a {
  opacity: 0.2;
  transition: opacity 1s ease;
}

.partner-list a:hover,
.partner-list a:focus {
  opacity: 1;
}

.partner-list a:active {
 opacity: 0.1;  
}

.partner-item {
  width: 260px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}


.inner-text-block {
  display: flex;
  margin-top: 56px;
  justify-content: space-between;
}

.main .filter {
  width: 260px;
  margin-right: 140px;
}

.form-range {
  margin-bottom: 57px;
}

.form-range-fieldset {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter-item {
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform:  uppercase;
  margin-bottom: 14px;
}

.filter label {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.form-area {
  margin-left: 36px;
}

.form-area [type="radio"] {
  width: 25px;
  height: 25px;
}

.form .filter-features {
  margin-top: 26px;
}

.form-area [type="checkbox"] {
  width: 23px;
  height: 27px;
}

.filter-submit {
  margin-top: 48px;
  width: 260px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
  padding-top: 19px;
  padding-bottom: 19px;
}

.filter-submit:hover,
.filter-submit:focus {
 background-color: #dfdfdf;  
}

.filter-submit:active {
color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.form-area label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-bottom: 18px;
  border: 0;
}

.form-area:hover + label,
.form-area:focus + label {
  color: #b8b8b8;
}

.form-area-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -38px;
  width: 23px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  border: 0;
}

.form-area-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -38px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.form-area-checkbox:hover + label::before {
  opacity: 1;
}

.form-area-checkbox:checked:hover + label::before {
  opacity: 1;
}

.form-area-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
  border: 0;
}

.form-area-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.form-area-radio:hover + label::before {
  opacity: 1;
}

.form-area-radio:checked:hover + label::before {
  opacity: 1;
}

.catalog {
  width: 760px;
}

.sorting {
  display: flex;
  margin-top: 4px;
  justify-content: flex-end;
  margin-bottom: 56px;
}

.sorting p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-right: 256px;
}

.sorting-item {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  width: 280px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 48px;
  padding-top: 2px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active {
  color: #000000;
}

.sorting-item .sorting-item-active a {
  color: #000000;
}

.sorting-btn {
  width: 40px;
  display: flex;
  justify-content: space-between;
}

.sorting-btn a {
}

.sorting-btn svg {
  opacity: 0.2;
}

.sorting-btn a:hover svg {
  opacity: 1;
  fill: #a6a6a6;
}

.sorting-btn a:active svg {
  opacity: 1;
  fill: #231F20;
}

.sorting-btn-active svg {
  opacity: 1;
  fill: #231F20;
}

.article {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.article li {
 margin: 0;
 padding: 0;
 margin-right: 40px; 
  margin-bottom: 33px;
 width: 360px;
}

.article li:nth-child(2n) {
  margin-right: 0;
}


.article-item svg {
opacity: 0.12;  
margin-bottom: -2px;
}

.article-item-hover {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  text-align: center;
  margin-top: 385px;
  width: 360px;
  height: 231px;
}

.article-item:hover .article-item-hover {
  display: inline;
}

.article-item:hover svg {
opacity: 1;  
}

.article-item-hover h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 15px;
}

.article-item-title a:hover,
.article-item-title a:focus {
 color: #fb565a;  
}

.article-item-title a:active {
color: rgba(0, 0, 0, 0.3);
}

.article-item-hover p {
  line-height: 18px;
  color: #666666;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px;
  width: 240px;
}

.article-item-price {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  padding-top: 16px;
  padding-right: 62px;
  padding-bottom: 15px;
  padding-left: 64px;
}

.article-item-price:hover,
.article-item-price:focus {
 background-color: #e74246;  
}

.article-item-price:active {
 background-color: #d7373b;  
}

.pagination {
  list-style: none;
  display: flex;
  margin-left: -40px;
  margin-top: 18px;
}

.pagination li {
  width: 44px;
  height: 44px;
  text-transform: uppercase;
  display: flex;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  margin: 0;
  padding: 0;
  margin-right: 11px;
}

.pagination li:last-child {
  width: 260px;
  margin-right: 0;
  text-align: center;
}

.pagination .active {
  background-color: #ffffff;
}

.pagination a {
  padding-top: 16px;
  padding-right: 18px;
  padding-bottom: 16px;
  padding-left: 18px;
}

.pagination li:hover,
.pagination li:focus {
  background-color: #dfdfdf; 
  border: 3px solid #dfdfdf;
}

.pagination li:active {
  background-color: #d5d5d5;
  border: 3px solid #dfdfdf;
  color: rgba(0, 1, 1, 0.1);
}
.pagination a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination li:last-child a {
  padding: 19px 79px;
}

.map-and-contacts {
  background: url("../img/map.jpg") no-repeat center top;
  width: 100%;
  height: 416px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.map-and-contacts-adress {
  position: relative; 
  z-index: 1; 
  width: 208px; 
  height: 204px; 
  background-color: #ffffff;
  padding-top: 49px;
  padding-right: 61px;
  padding-bottom: 55px;
  padding-left: 50px;
  top: 54px;
}

.map-and-contacts-adress h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.map-and-contacts-adress p {
  width: 210px;
  color: #666666;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  line-height: 18px;
}

.map-and-contacts-adress a {
  color: #666666;
  display: block;
}

.map-and-contacts-btn a {
  width: 219px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top:17px;
  padding-bottom: 17px;
  text-align: center;
  margin-top: 39px;
  cursor: pointer;
  transition: color 1s ease, background 0.2s ease;
  cursor: pointer;
}

.map-and-contacts-btn a:hover,
.map-and-contacts-btn a:focus {
  background-color: #e74246;
}

.map-and-contacts-btn a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.map-point {
  position: absolute;
  margin-left: 680px;
  margin-top: 89px;
}

.footer-bottom {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  padding-top: 69px;
  align-items: center;
  margin-bottom: 69px;
}

.footer-bottom .social {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 129px;
}

.social li {
  margin-right: 12px;
}

.social a {
  display: flex;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  align-items: center;
  justify-content: center;
  transition: background 1s ease;
}

.social a:hover,
.social a:focus {
 background-color: #e74246;  
}

.social a:active {
 background-color: #d7373b;  
}

.social a:active svg {
 opacity: 0.3;  
}

.footer-bottom b {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.footer-bottom p {
  line-height: 22px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.feedback-form {
  width: 760px;
}

.feedback {
  position: fixed;
  display: none; 
  width: 760px;
  height: 590px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  padding-top: 73px;
  padding-right: 100px;
  padding-left: 100px;
  top: 20%;
  bottom: 10%;
  background-color: #ffffff;
  margin: 0 auto;
  z-index: 5;
  left: 50%;
  margin-left: -480px;
}

.feedback h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
}

.feedback-row {
  margin-bottom: 36px;
  display: flex;
}

.feedback-row .feedback-field {
  display: flex;
  flex-wrap: wrap;
}

.feedback-field label {
  display: block;
  padding-bottom: 12px;
  font-weight: bold;
  line-height: 18px;
}

.feedback-field input {
  width: 335px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
}

.feedback-field input:hover {
  border: 2px solid #b4b9bb;
}

.feedback-field input:focus {
  border: 2px solid #000000;
  color: #000000;
}

.feedback-field input:focus:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.feedback textarea {
  width: 740px;
  height: 118px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  padding-top: 14px;
  padding-left: 15px;
}

.feedback-field textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-field textarea:focus {
  border: 2px solid #000000;
  color: #000000;
}


.feedback-btn {
  font-weight: 500;
  margin-top: 47px;
  padding: 18px 82px;
  border: none;
  cursor: pointer;
  transition: color 1s ease, background 0.2s ease;
}

.feedback-btn:hover,
.feedback-btn:focus {
  background-color: #e74246;
}

.feedback-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.feedback-close {
  width: 21px;
  height: 21px;
  position: absolute;
  background: url("../img/close-cross.svg") no-repeat top center;
  border: none;
  margin-left: 748px;
  margin-top: 20px;
  opacity: 0.3;
  cursor: pointer;
}

.feedback-close:hover,
.feedback-close:focus {
 opacity: 1; 
}

.feedback-close:active {
opacity: 0.1;
}

#map {
  width: 100%;
  height: 416px;
  z-index: 1;
  position: absolute;
}
