@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto.eot") format("embedded-opentype");
  src: url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-medium.eot") format("embedded-opentype");
  src: url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto-bold.eot") format("embedded-opentype");
  src: url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  min-width: 1440px;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  line-height: 16px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: #ffffff;
  background-color: #fb565a;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 3px;
}

.layout {
  width:  1440px;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

.header {
  width: 100%;
  background-color: #eeeeee;
}

.header-layout {
  width:  1440px;
  padding-left: 140px;
  padding-right: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 49px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-nav-logo {
  -webkit-transition: color 0.2s ease, opacity 0.2s ease;
  -o-transition: color 0.2s ease, opacity 0.2s ease;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.main-nav-logo[href]:hover,
.main-nav-logo[href]:focus {
  opacity: 0.8;
}

.main-nav-logo[href]:active {
  opacity: 0.3;
}

.main-nav {
  width: 812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 14px;
}

.main-nav-item {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 46px;
}

.main-nav-item:nth-child(4) {
  margin-right: 0;
}

.main-nav-item a {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease, opacity 0.2s ease;
  -o-transition: color 0.2s ease, opacity 0.2s ease;
  transition: color 0.2s ease, opacity 0.2s ease;
  outline: none;
  border-bottom: 2px solid #fb565a;
  margin-bottom: -3px;
}

.main-nav-item a[href] {
  border: none;
  margin-bottom: 0;
}

.main-nav-item a[href]:hover,
.main-nav-item a[href]:focus {
  color: #fb565a;
}

.main-nav-item a[href]:active {
  opacity: 0.3;
  color: #000000;
}

.user-nav {
  width: 300px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  padding-top: 14px;
}

.user-nav-basket {
  position: relative;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  border: none;
  padding: 0 0 0 44px;
  margin: 0;
}

.user-nav-item + .user-nav-item {
  margin-left: 15px;
}

.user-nav-basket::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 4px;
  top: 48%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-nav-basket:hover,
.main-nav-item:focus {
  color: #fb565a;
}

.user-nav-baske:active {
  opacity: 0.3;
  color: #000000;
}

.main {
  margin: 0;
  padding:  0;
}

.title {
  width: 100%;
  background-color: #eeeeee;
  padding-top: 75px;
  padding-bottom: 107px;
}

.title h1 {
  width: 1440px;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding: 0;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider {
  background-color: #eeeeee;
  margin-bottom: 80px;
  padding-top: 4px;
}

.slider-layout {
  position: relative;
  width:  1440px;
  padding-left: 140px;
  padding-right: 140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 17px;
  padding-bottom: 79px;
}

.slider-item-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-item:nth-child(1) {
  background: url("../img/slide1.png") no-repeat bottom right 31px;
}

.slider-item:nth-child(2) {
  background: url("../img/slide2.png") no-repeat bottom right;
}

.slider-item:nth-child(3) {
  background: url("../img/slide3.png") no-repeat bottom right;
}

.slider-item-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-text {
  width: 380px;
}

.slider-item h2 {
  width: 515px;
  display: block;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  padding: 0;
  margin-top: 54px;
  margin-bottom: 26px;
}

.slider-item p {
  width: 370px;
  display: block;
  color: #283136;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
  line-height: 24px;
}

.slider-item a {
  line-height: 18px;
  -webkit-transition: color 1s ease, background 0.2s ease;
  -o-transition: color 1s ease, background 0.2s ease;
  transition: color 1s ease, background 0.2s ease;
  padding-top: 17px;
  padding-right: 57px;
  padding-bottom: 16px;
  padding-left: 54px;
}

.slider-item a:hover {
  background-color: #e74246;
}

.slider-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.slider-toggles {
  position: absolute;
  bottom: 94px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-toggle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.slider-toggle + .slider-toggle {
  margin-left: 13px;
}


.slider-toggle-active::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  border: 2px solid #c2c2c2;
  height: 4px;
  width: 4px;
  margin-left: -4px;
  margin-top: -4px;
}

.advantages {
  margin: 0;
  padding: 0;
}

.advantages-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 100px;
  padding-bottom: 40px;
}

.advantages-item:nth-child(3n) {
  margin-right: 0;
}

.advantages-item img {
  margin-bottom: 25px;
}

.advantages-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.advantages-item p {
  width: 280px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.advantages-item a {
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 15px;
  padding-left: 40px;
  margin-top: auto;
  -webkit-transition: color 1s ease, background 0.2s ease;
  -o-transition: color 1s ease, background 0.2s ease;
  transition: color 1s ease, background 0.2s ease;
}


.btn-green {
  background-color: #00ca74;
}

.btn-yellow {
  background-color: #efc84a;
}

.btn-pink:hover,
.btn-pink:focus {
  background-color: #e74246;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}

.btn-pink:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.btn-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.btn-yellow:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 50px;
  padding-top: 40px;
}

.about-us-text {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 34px;
}

.about-us-text .about-ut-heading {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 33px;
}

.about-us-text .about-us-text {
  line-height: 24px;
  color: #283136;
  width: 620px;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.about-us-text .about-us-orders {
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.about-us-text ul {
  margin: 0;
  padding: 0;
  line-height: 24px;
  list-style: none;
  color: #283136;
}

.about-us-text li {
  margin-bottom: 24px;
  position: relative;
  padding-left: 36px;
}

.about-us-text li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.achievements {
  padding-left: 100px;
  text-align: center;
  width: 360px;
}

.achievements-img {
  margin-bottom: 33px;
  width: 360px;
}

.achievements-img img {
  font-size: 0;
  line-height: 0;
}

.achievements-text {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 39px;
}

.achievemtns-table {
  text-align: left;
  border-collapse: collapse;
}

.achievemtns-table strong {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
}

.achievemtns-table td {
  width: 120px;
}

.achievemtns-table sup {
  font-size: 27px;
  position: relative;
  left: -2px;
}

.achievemtns-table th {
  font-weight: normal;
  color: #283136;
  line-height: 18px;
  padding-top: 19px;
}

.partners {
  width: 100%;
  border-bottom: 2px solid #eeeeee;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 39px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -5px;
  margin-bottom: -5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.partner-item {
  width: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.partner-item::after{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #eeeeee;
  width: 2px;
  height: 52px;
  margin-left: 50px;
}

.partner-list li:nth-child(4n)::after {
  display: none;
}

.partner-list a {
  opacity: 0.2;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.partner-list a:hover,
.partner-list a:focus {
  opacity: 1;
}

.partner-list a:active {
  opacity: 0.1;
}

.partner-item {
  width: 260px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.inner-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main .filter {
  width: 260px;
  margin-right: 140px;
}

.form-range {
  margin-bottom: 54px;
}

.form-range-fieldset {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.filter-item {
  padding: 0;
  border: none;
  width: 260px;
  margin: 50px auto;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 31px;
  left: 0;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 19px;
}

.range-controls .toggle-max {
  left: 161px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform:  uppercase;
  margin-bottom: 15px;
}

.filter label {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.form-area {
  margin-left: 36px;
}

.form-area [type="radio"] {
  width: 25px;
  height: 25px;
}

.form .filter-features {
  margin-top: 26px;
}

.form-area [type="checkbox"] {
  width: 23px;
  height: 27px;
}

.filter-submit {
  width: 260px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: color 1s ease, background 0.2s ease;
  -o-transition: color 1s ease, background 0.2s ease;
  transition: color 1s ease, background 0.2s ease;
  outline: none;
}

.filter-submit:hover,
.filter-submit:focus {
  background-color: #dfdfdf;
}

.filter-submit:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.form-area label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 18px;
  border: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.form-area:hover + label,
.form-area:focus + label {
  color: #b8b8b8;
}

.form-area-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;
  width: 23px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  border: 0;
}

.form-area-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.form-area-checkbox:hover + label::before,
.form-area-checkbox:focus + label::before{
  opacity: 1;
}

.form-area-checkbox:checked:hover + label::before {
  opacity: 1;
}

.form-area-checkbox:disabled + label::before {
  opacity: 0.1;
}

.form-area-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.form-area-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: 0.4;
  border: 0;
}

.form-area-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.form-area-radio:hover + label::before,
.form-area-radio:focus + label::before {
  opacity: 1;
}

.form-area-radio:checked:hover + label::before {
  opacity: 1;
}

.form-area-radio:disabled + label::before {
  opacity: 0.1;
}

.form-area-radio:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.catalog {
  width: 760px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  margin-bottom: 56px;
}

.sorting p {
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto 0 0;
  padding: 0;
}

.sorting-item {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 298px;
  list-style: none;
  margin: 0 35px 0 0;
  padding: 2px 0 0 0;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-item a:active {
  color: #000000;
}

.sorting-item-active a {
  color: #000000;
}

.sorting-btn-group {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sorting-btn svg {
  opacity: 0.2;
}

.sorting-btn:hover svg {
  opacity: 1;
  fill: #a6a6a6;
}

.sorting-btn:active svg {
  opacity: 1;
  fill: #231F20;
}

.sorting-btn-active svg {
  opacity: 1;
  fill: #231F20;
}

.article {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 24px 0;
}

.article-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 40px;
  margin-bottom: 32px;
  width: 360px;
  min-height: 616px;
}

.article-item:nth-child(2n) {
  margin-right: 0;
}

.article-item:hover {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.article-item svg {
  opacity: 0.12;
  margin-bottom: -2px;
}

.article-item-browser {
  background: url("../img/browser.svg") no-repeat center top;
  width: 360px;
  height: 40px;
  margin: 0;
  padding: 0;
  opacity: 0.12;
}

.article-item:hover .article-item-browser {
  opacity: 1;
}

.article-item-img {
  border: 1px solid #e5e5e5;
}

.article-item-hover {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #eeeeee;
  text-align: center;
  width: 360px;
  padding-bottom: 20px;
}

.article-item:hover .article-item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-item:hover svg {
  opacity: 1;
}

.article-item-hover h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  margin-bottom: 15px;
}

.article-item-title a:hover,
.article-item-title a:focus {
  color: #fb565a;
}

.article-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.article-item-hover p {
  line-height: 18px;
  color: #666666;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
  width: 240px;
}

.article-item-price {
  line-height: 19px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fb565a;
  padding-top: 16px;
  margin-bottom: 24px;
  padding-right: 59px;
  padding-bottom: 15px;
  padding-left: 62px;
  text-transform: uppercase;
}

.article-item-price:hover,
.article-item-price:focus {
  background-color: #e74246;
}

.article-item-price:active {
  background-color: #d7373b;
}

.pagination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 15px 0;
}

.pagination-item {
  min-height: 50px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 12px;
}

.pagination li:last-child {
  margin-right: 0;
  text-align: center;
}

.pagination-item a {
  padding-top: 16px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 16px;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  border: 3px solid #dfdfdf;
  color: rgba(0, 1, 1, 0.1);
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:last-child a {
  padding-right: 75px;
  padding-left: 75px;
}

.pagination .active {
  background-color: #ffffff;
}

.pagination .active:hover {
  background-color: #ffffff;
  border: 3px solid #eeeeee;
}

.map-and-contacts {
  background: url("../img/map.jpg") no-repeat center top;
  background-color: #eceae2;
  width: 100%;
  height: 416px;
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

.map-and-contacts-inner {
  margin-top: 44px;
}

.adress {
  position: relative;
  z-index: 1;
  width: 208px;
  min-height: 204px;
  background-color: #ffffff;
  padding-top: 49px;
  padding-right: 61px;
  padding-bottom: 46px;
  padding-left: 50px;
  top: 54px;
}

.adress h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.adress p {
  width: 210px;
  color: #666666;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
  line-height: 18px;
}

.adress-phone {
  color: #666666;
  display: block;
}

.pop-up-btn {
  width: 219px;
  display: block;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top:17px;
  padding-bottom: 17px;
  text-align: center;
  margin-top: 39px;
  cursor: pointer;
  -webkit-transition: color 1s ease, background 0.2s ease;
  -o-transition: color 1s ease, background 0.2s ease;
  transition: color 1s ease, background 0.2s ease;
  cursor: pointer;
}

.pop-up-btn:hover,
.pop-up-btn:focus {
  background-color: #e74246;
}

.pop-up-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 69px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 69px;
}

.social {
  width: 261px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 139px;
}

.social-item {
  margin-right: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e1e1e1;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.social-link:hover,
.social-link:focus {
  outline: none;
  background-color: #e74246;
}

.social-link svg {
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active svg {
  opacity: 0.3;
}

.slogan {
  width: 550px;
  padding-top: 1px;
}

.footer-bottom b {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.footer-bottom p {
  line-height: 22px;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.feedback-form {
  width: 760px;
}

.feedback {
  position: fixed;
  display: none;
  width: 760px;
  height: 523px;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  padding-top: 67px;
  padding-right: 100px;
  padding-left: 100px;
  top: 20%;
  bottom: 10%;
  background-color: #ffffff;
  margin: 0 auto;
  z-index: 5;
  left: 50%;
  margin-left: -480px;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.feedback-open {
  display: block;
}

.feedback h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-bottom: 41px;
}

.feedback-row {
  margin-bottom: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-field label {
  display: block;
  padding-bottom: 9px;
  font-weight: bold;
  line-height: 18px;
}

.feedback-field input {
  width: 328px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-left: 14px;
  padding-right: 14px;
  outline: none;
}

.feedback-field input:hover {
  border: 2px solid #b4b9bb;
}

.feedback-field input:focus {
  border: 2px solid #000000;
  color: #000000;
}

.feedback textarea {
  width: 729px;
  height: 100px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  padding-top: 12px;
  padding-left: 13px;
  padding-right: 14px;
  outline: none;
}

.feedback-field-error input,
.feedback-field-error textarea {
  border: 2px solid #e74246;
}

.feedback-field-error input::-webkit-input-placeholder,
.feedback-field-error textarea::-webkit-input-placeholder {
  color: #e74246;
}

.feedback-field-error input::-moz-placeholder,
.feedback-field-error textarea::-moz-placeholder {
  color: #e74246;
}

.feedback-field-error input:-ms-input-placeholder,
.feedback-field-error textarea:-ms-input-placeholder {
  color: #e74246;
}

.feedback-field-error input::-ms-input-placeholder,
.feedback-field-error textarea::-ms-input-placeholder {
  color: #e74246;
}


.feedback-field-error input::placeholder,
.feedback-field-error textarea::placeholder {
  color: #e74246;
}

.feedback-field textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-field textarea:focus {
  border: 2px solid #000000;
  color: #000000;
}

.feedback-field-error input:hover,
.feedback-field-error input:focus,
.feedback-field-error textarea:hover,
.feedback-field-error textarea:focus {
  border: 2px solid #e74246;
  color: #e74246;
  outline: none;
}

.feedback-btn {
  font-weight: 500;
  margin-top: 45px;
  padding: 16px 84px 16px 82px;
  border: none;
  cursor: pointer;
  -webkit-transition: color 1s ease, background 0.2s ease;
  -o-transition: color 1s ease, background 0.2s ease;
  transition: color 1s ease, background 0.2s ease;
}

.feedback-btn:hover,
.feedback-btn:focus {
  background-color: #e74246;
}

.feedback-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.feedback-close {
  width: 21px;
  height: 21px;
  position: absolute;
  background: url("../img/close-cross.svg") no-repeat top center;
  border: none;
  margin-left: 748px;
  margin-top: 11px;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
}

.map {
  width: 100%;
  min-width: 1440px;
  height: 416px;
  z-index: 1;
  position: absolute;
}

.feedback-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
